* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
/* Navbar */
.navbar {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/P1013282\ 1.svg');
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
}
.logo {
    padding: 20px 100px;
}
.navbar-nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 32px 100px 0 520px;
    display: flex;
    flex-direction: row;
}
.navbar-nav .nav-link {
    margin-right: 28px;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: white;
    text-decoration: none;
}
.navbar-nav .nav-link:hover {
    color: gray;
}

/* Sejarah GenBI */
.sejarah {
    display: flex;
    flex-direction: column;
    margin: 31px 100px 0 100px;
    color: #000000;
}
.sejarah h1 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
}
.sejarah p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 24px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
}
.logo-footer {
    margin: 238px 1068px 170px 100px;
}
.background-footer {
    position: absolute;
    width: 74%;
    height: 340px;
    margin: 233px 0 0 395px;
    background: #26648B;
}